*.autosave
*.cmake
*.dir
*.exe
*.filters
*.idb
*.map
*.ncb
*.o
*.obj
*.opensdf
*.res
*.sdf
*.sln
*.suo
*.tds
*.user
*.vcproj
*.vcxproj
*~
.vs
CMakeCache.txt
CMakeFiles
Debug
Makefile
Release
TMP1.$$$
build
ipch
x64
*-old
*.skrold
a.*
*.ninja
.ninja*
lib*.a
*.dll
zlib1.dll
libpng*.dll
libcairo-2.dll
libfontconfig-1.dll
libfreetype-6.dll
libxml2.dll
iconv.dll
output.pdf
